.parallax {
    /* The image used */
    background-image: url("BG.jpg");
    
    min-height: 650px; 
    opacity: .5;
    /* Create the parallax scrolling effect*/
    background-attachment: fixed;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
}
#dp{
    border-radius: 20%;
}
#navbar{
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 1;
}
#about{
    position: absolute;
    top: 150px;
    left: 300px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#Expert{
    position: absolute;
    left: 300px;
    top: 400px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#game{
    position: absolute;
    left: 310px;
    top: 67px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#programming{
    position: absolute;
    left: 620px;
    top: 67px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}